name: 't1-failure-tag-1-in-vm'
on:
  workflow_dispatch:

jobs:
  testJob:
    runs-on: [ 
      "${{ github.run_id }}-${{ strategy.job-index }}",
      "anka-template:84266873-da90-4e0d-903b-ed0233471f9f", 
      "anka-template-tag:6c14r",
    ]
    steps:
      - uses: actions/checkout@v3
      - run: |
          exit 13