name: 't1-with-tag-1'
on:
  workflow_dispatch:

jobs:
  t1-with-tag-1:
    runs-on: [ 
      "${{ github.run_id }}-${{ strategy.job-index }}",
      "anka-template:84266873-da90-4e0d-903b-ed0233471f9f", 
      "anka-template-tag:6c14r",
    ]
    steps:
      - uses: actions/checkout@v3
      - run: |
          ls -laht
          sw_vers
          hostname
          echo "123"
      - run: whoami
