name: 't1-with-tag-1-matrix-nodes-2'
on:
  workflow_dispatch:

jobs:
  t1-with-tag-1-matrix-nodes-2:
    strategy:
      matrix:
        node: ["1", "2"]
    runs-on: [ 
      "anka-template:84266873-da90-4e0d-903b-ed0233471f9f", 
      "anka-template-tag:6c14r",
      "${{ github.run_id }}-${{ strategy.job-index }}",
    ]
    steps:
      - uses: actions/checkout@v3
      - run: |
          ls -laht
          sw_vers
          hostname
          echo "123"
          env
