name: 't2-12c20r-1'
on:
  workflow_dispatch:

jobs:
  t2-12c20r-1:
    runs-on: [ 
      "anka-template:84266873-da90-4e0d-903b-ed0233471f9f", 
      "anka-template-tag:12c20r",
    ]
    steps:
      - uses: actions/checkout@v3
      - run: |
          ls -laht
          sw_vers
          hostname
          echo "123"
          sysctl -n hw.ncpu
          sleep 30
      - run: whoami
